.container {
  width: 768px;
  height: 408px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(160, 72, 242, 0.992);
  position: relative;
}
.list {
  width: 576px;
  height: 500px;
}
.num,
.list-container a {
  color: rebeccapurple;
  padding: 5px;
}
.list-container {
  position: absolute;
  list-style: none;
  display: flex;
  width: 768px;
  bottom: -50px;
  justify-content: space-between;
  padding: 0 !important;
  padding: 10px 20px;
  background: #fff;
}
.list-container .num,
.list-container a {
  cursor: pointer;
}

.active {
  background: rgb(212, 193, 231);
  color: white;
}
.header {
  text-align: center;
}
