.admin-nav {
  background: hsl(258, 36%, 35%);
  min-height: 100vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
}
.nav-item {
  padding: 10px 0;
  color: aliceblue;
  background: hsl(258, 82%, 72%);

  border: 1px solid gray;
  margin-bottom: 5px;
}
.nav-item:hover,
.nav-item:focus,
.active {
  cursor: pointer;
  font-weight: bold;
  background: hsla(258, 82%, 72%, 0.342);
}

.info {
  display: flex;
}
.ava {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}
.info p {
  font-size: 20px;
}
