.header-cotainer {
  background: hsl(257, 27%, 26%);
  max-height: 5vh;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.welcome-title {
  padding: 0;
  color: white;
  margin: 0;
}
.header-right {
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item:hover {
  cursor: pointer;
  color: aqua;
  text-decoration: underline;
}
.active {
  color: aqua;
  text-decoration: underline;
}
