.container {
  width: 900px;
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(160, 72, 242, 0.992);
  position: relative;
}
.list {
  width: 576px;
  height: 500px;
}
.num,
.list-container a {
  color: rebeccapurple;
  padding: 5px;
}
.list-container {
  list-style: none;
  display: flex;
  width: 900px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  justify-content: space-between;
  padding: 0 !important;
  /* border: 1px solid rebeccapurple; */
  /* padding: 10px 20px; */
  background: #fff;
}
.list-container .num,
.list-container a {
  cursor: pointer;
}

.active {
  background: rgb(212, 193, 231);
  color: white;
}
.table-header {
  width: 768px;

  display: flex;
}
.table-header div:nth-of-type(1) {
  margin-left: 50px;
}
.table-header div:nth-of-type(2) {
  margin-left: 90px;
}
.table-header div:nth-of-type(3) {
  margin-left: 110px;
}
.table-header div:nth-of-type(4) {
  margin-left: 80px;
}
.table-header div:nth-of-type(5) {
  margin-left: 110px;
}
