.container {
  display: flex;
  justify-content: space-between;
  height: 94vh;
  background-color: #16151d;
  /* color: antiquewhite; */
}
.item-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  width: 50%;
  margin: 50px auto;
  align-items: center;
}
.none {
  color: aliceblue;
}
.item {
  padding: 10px 20px;
  display: flex;
  width: fit-content;
  background-color: rgb(185, 138, 229);
  justify-content: space-between;
  border-bottom: 1px solid rgb(64, 48, 79);
}
.item p {
  margin: auto 20px;
}
.sent-btn {
  margin-top: 5px;
  padding: 5px 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: aquamarine;
  width: fit-content;
}
.sent-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(127, 255, 212, 0.274);
}
.form {
  color: white;
  width: 50%;
  margin: 60px auto;
  text-align: center;
}
.form label {
  display: block;
}
.unrent {
  width: 40px;
}
.unrent::placeholder {
  width: 100%;
  text-align: center;
}
