.item-container {
  display: flex;
  justify-content: space-around;
  width: 788px;

  border: 1px solid #fafafa;
  padding: 20px 40px;
}
.not-rented {
  color: aqua;
}
.rented {
  color: red;
}
.item-container div,
.item-container h4,
.item-container p {
  margin: 0 10px;
}
.item-container:nth-of-type(2n) {
  background-color: #fafafa97;
}
.name,
.cccd,
.numberOfParent,
.rented,
.not-rented {
  width: 176px;
}
.date {
  width: 195px;
}
