.header-cotainer {
  background: hsl(257, 7%, 63%);
  max-height: 5vh;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-title {
  padding: 0;
  margin: 0;
}
.header-right {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
