.signup {
  background-image: linear-gradient(
    hsla(258, 90%, 69%, 0.195),
    hsl(258, 29%, 57%)
  );
}
.form {
  background-image: linear-gradient(
    hsl(258, 35%, 60%),
    hsla(258, 90%, 69%, 0.195)
  );
  padding: 20px 30px;
  border-radius: 7px;
}
