.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16151d;
}
.content-container {
  background-color: hsl(257, 27%, 49%);
  display: flex;
  padding: 20px 40px;
  gap: 40px;
  border-radius: 20px;
}
.img-container {
  max-width: 500px;
}
.img-container img {
  border-radius: 10px;
}
.info {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
}
.apartment-name {
  text-align: center;
  font-size: 24px;
}
.apartment-price {
  font-size: 20px;
  width: fit-content;
  font-weight: bold;
  position: relative;
}
.apartment-price::after {
  content: "k/tháng";
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  top: 0;
  left: 10%0;
  color: red;
}
.back-btn {
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: aquamarine;
}
.back-btn:hover,
.sent-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(127, 255, 212, 0.274);
}
.sent-btn {
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  border: none;
  background-color: aquamarine;
}
.rent-form {
  width: 100%;
  margin-bottom: 5px;
}
#fullName::placeholder {
}
.rent-form div {
  width: 100%;
}
.rent-form div label {
  display: inline-block;
  width: 72px;
}
.rent-form div input {
  width: 70%;
}
